$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$white: white;
$dark-grey: #353535; //Police localisation
$grey: #eaeaea; //background Paris, Belleville
$light-grey: #f6f6f6; //bg reservation homepage
$shadow: #e7e7e7; //ombre
$light-purple: #f5edff; //hover button fonctionnement
$grey-grey: #7e7e7e; //icone fontawesome
$dark-green: #30a387; //span sur les images
$courbe: cubic-bezier(
  0.39,
  0.575,
  0.28,
  0.995
); //pour l'appartition des bulles icones - utilisation dans les animations
