$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$white:white;

//background color
$footer-grey:#353535;
$off-white-color:#ffffff; //background logo
$light-grey:#eaeaea; //background Paris, Belleville
$bg-medium-grey:#f6f6f6;//bg reservation homepage

//Font color
$medium-grey:a6a6a6; //police localisation

//btn color
$btn-purple:#d56bda;
$shadow: #e7e7e7;
$hover-color:#f5edff;

//icone fontawesome
$icone-color:#7e7e7e;

//span
$dark-green: #30a387;