@import "./main.scss";

/*reservation*/

#reservation {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $light-grey;
    height: 210px;
        h1 {
            font-weight: 700;
            font-size: 1.6em;        
        }
            p {
                font-weight: 300;  
                padding: 20px;
            }
}

/*end of reservation*/
/*fonction*/

#fonction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
        h3 {
            font-weight: bold;
            font-size: 1.5em;
            margin-bottom: 30px;
            margin-top: 25px;
                @media only screen and (min-width: 768px){
                    flex-basis: 100%;
                    margin-left: 55px;
                }
        }
}
#fonction ol {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
        @media only screen and (min-width: 350px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                    li{
                        margin-right: 30px;
                    }
        }
        li {
            display: flex;
            align-items: center;
            height: 60px;
            width: 300px;
            background-color: $light-grey;
            box-shadow: 0px 6px 8px $shadow;
            margin-bottom: 20px;
            border-radius: 15px;
            transition-duration: 600ms;
            counter-increment: steps;
            position: relative;
                &::before {
                    content: counter(steps);
                    position: absolute;
                    line-height: 1.7em;
                    width: 1.7em;
                    height: 1.7em;
                    border-radius: 15px;
                    min-width: 1.7em;
                    left: -1em;
                    color: white;
                    text-align: center;
                    background-color: $primary-color;
                }
                        &:hover {
                            transition-duration: 600ms;
                            background: $light-purple;
                                i {
                                    transition-duration: 600ms;
                                    color: $primary-color;
                                }
                        }
            a {
                display: flex;
                width: 100%;
                margin-left: 30px;
                    i {
                        color: $grey-grey;
                        margin-right: 15px;
                    }
                    p {
                        font-weight: bold;
                    }
            } 
        }    
            
}

/*end of fonction*/
/*restaurants*/

#restaurants {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
            @media only screen and (min-width: 768px) {
                    flex-flow: row wrap;
                    justify-content: center;
            }
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      padding: 25px 0px 10px 0px;
        @media only screen and (min-width: 768px){
            flex-basis: 100%;
            margin-left: 55px;
        }
    }
      article {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        height: 240px;
        box-shadow: 0px 5px 5px $shadow;
        border-radius: 15px;
            @media only screen and (min-width: 768px) {
                flex-flow: row wrap;
                height: 300px;
                flex-basis: 44%;
                margin: 20px;                
            }
          figure {
            display: flex;
            flex-direction: column;
            height: 75%;
              a {
                height: 100%;
                position: relative;
                  img {
                    border-radius: 15px 15px 0px 0px;
                    max-height: 100%;
                    object-fit: cover;
                    width: 100%;
                    object-position: 50% 65%;
                        @media screen and (min-width:768px) {
                            height:max-content;
                        }
                  }
                  span {
                    position: absolute;
                    top: -3px;
                    right: 10px;
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    background-color: $tertiary-color;
                    color: $dark-green;
                    font-weight: bold;
                    height: 25px;
                    font-size: 0.8em;
                    padding: 10px;
                    border-radius: 2px;
                  }
              }
          }
          div {
              height: 100%;
              display: flex;
                a {
                    flex-direction: column;
                    padding: 10px;
                    h3 {
                        font-weight: bold;
                        padding-bottom: 7px;
                    }
                    p {
                        font-size: 0.9em;
                        font-weight:300;
                    }
                }
          }
      }
}
/*end of restaurants*/
