@import "./main.scss";

/*header*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding-top: 15px;
  position: relative;
  a {
    i {
      /*flèche retour*/
      color: $dark-grey;
      font-size: 1.3em;
      left: 5%;
      position: absolute;
      top: 35%;
    }
  }
  figure {
    margin: 0 auto;
  }
}
main {
  display: flex;
  justify-content: center;
  position: relative;
  figure {
    height: 260px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    @media only screen and (min-width: 992px) {
      height: 320px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 260px;
        height: 200px;
        width: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1)
        );
      }
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

/*end of header*/
/*menu*/

#menu {
  max-width: 992px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 200px;
  position: relative;
  h1 {
    font-size: 1.5em;
    margin-top: 10px;
    font-family: "Shrikhand", sans-serif;
    padding-left: 10px;
  }
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  h2 {
    text-transform: uppercase;
    padding-left: 10px;
    &::after {
      /*souligne le titre en vert*/
      content: "";
      display: flex;
      width: 40px;
      height: 3px;
      background-color: $tertiary-color;
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
}
article {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0px 3px 8px $shadow;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  overflow: hidden;

  div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-basis: 100%;
    h3 {
      font-weight: bold;
      font-size: 1.1em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
    p {
      margin-top: 5px;
      font-weight: 100;
      font-size: 1em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
  }
  > div:nth-child(2) {
    /*price*/
    margin-bottom: 20px;
    position: relative;
    top: 50px;
    right: 15px;
    width: 20px;
    justify-content: flex-end;
    font-weight: bold;
  }
  &:hover > div:nth-child(2) {
    right: 10px;
    margin-left: 10px;
  }
  >div:nth-child(3) {
    background-color: $tertiary-color;
    border-radius: 0 15px 15px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    left: 7px;
      i {
        color: white;
      }
  }
  &:hover div:nth-child(3) {
    flex-basis: 10%;
    display: flex;
    left: 15px;
    animation: check-menu 1s ease-out forwards;
    transition-property: width;

      i{
        animation: check-rotate 0.5s ease both;
        transition-duration: 2s

      }
  }
}
/*slide animation*/

@include lazy-menu (1,0,4);
@include lazy-menu (2,0.6,3);
@include lazy-menu (3,1.2,3);

/*end of slide animation*/
/*end of menu*/

/*common to several element*/

#menu_starter,
#menu_dish,
#menu_dessert {
  padding-right: 0;
  padding-left: 0;
}
section {
  padding: 25px 15px 0px 15px;
}

/*common to several element*/
/*button*/

.btn {
  margin-top: 35px;
  margin-bottom: 80px;
}

/*end of button*/
/*footer*/

footer nav {
  max-width: 992px;
}

/*end of footer*/
