/*spinner loading*/
/*visibility du spinner loading*/

@keyframes hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*icon bubble*/

@keyframes bubble {
  from {
    opacity: 1;
    transform: translateY(50px);
    color: $tertiary-color;
  }
  to {
    opacity: 0;
    transform: translateY(0);
    color: $secondary-color;
  }
}

/*logo Ohmyfood*/
@keyframes pulseBorder {
  0% {
    border: 2px double $primary-color;
    border-radius: 10px;
  }
  50% {
    border: 2px double $secondary-color;
    border-radius: 50px;
  }
  100% {
    border: 2px double $tertiary-color;
    border-radius: 10px;
  }
}

/*end of spinner loading*/
/*heart home*/

.animation-like {
  position: relative;
  top: -50%;
  i {
    font-size: 2em;
    position: absolute;
    right: 10px;
    transform: translateY(-50%);

    &:first-child {
      transform: scale(0) translateY(-50%);
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#9356dc),
        to(#ff79da)
      );
      background-clip: border-box;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1;
    }
  }

  &:hover {
    cursor: pointer;
    i:first-child {
      transform: scale(1) translateY(-50%);
      transition: all 330ms ease-in-out;
    }
    i:last-child {
      transform: scale(0) translateY(-50%);
      transition: all 330ms ease-in-out;
    }
  }
}

/*end of heart home*/
.animation-like-menu {
  position: relative;
  i {
    font-size: 2em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    &:first-child {
      transform: scale(0) translateY(-50%);
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#9356dc),
        to(#ff79da)
      );
      background-clip: border-box;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1;
    }
  }

  &:hover {
    cursor: pointer;
    i:first-child {
      transform: scale(1) translateY(-50%);
      transition: all 330ms ease-in-out;
    }
    i:last-child {
      transform: scale(0) translateY(-50%);
      transition: all 330ms ease-in-out;
    }
  }
}

/*end of heart menu*/
/*slide*/

@keyframes slide-top {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*end of slide*/
/*check*/

@keyframes check-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*end of check*/
