/*spinner loading*/
/*la visibilité du spinner loading*/

@keyframes hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*apparition des bulles icones*/
@keyframes bubble {
  from {
    opacity: 1;
    transform: translateY(50px);
    color: $tertiary-color;
  }
  to {
    opacity: 0;
    transform: translateY(0);
    color: $secondary-color;
  }
}
/*le logo Ohmyfood*/
@keyframes pulseBorder {
  0% {
    border: 2px double $primary-color;
    border-radius: 10px;
  }
  50% {
    border: 2px double $secondary-color;
    border-radius: 50px;
  }
  100% {
    border: 2px double $tertiary-color;
    border-radius: 10px;
  }
}

/*spinner loading*/
