//spinner loading

//la visibilité du spinner loading
@keyframes hidden{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
//apparition des bulles icones
@keyframes bubble{
    from{
      opacity: 1;
      transform: translateY(50px);
      color: $tertiary-color;
    }
    to{
      opacity: 0;
      transform: translateY(0);
      color: $secondary-color;
    }
}
 //le logo Ohmyfood 
@keyframes pulseBorder{
    0%{
      border: 2px double $primary-color;
      border-radius: 10px;
    }
    50%{
      border: 2px double $secondary-color;
      border-radius: 50px;
    }
    100%{
      border: 2px double $tertiary-color;
      border-radius: 10px;
    }
}

//spinner loading
//heart

//les petits coeurs
@keyframes small_heart {
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  50%{
    opacity: 0.2;
    transform: translateY(8px);
  }
  100%{
    opacity: 0;
    transform: translateY(0px);
  }
}

//battement du coeur et apparition progressive
@keyframes heartbeat
{
  0%
  {
    transform: scale( 0 );
    opacity: 0;
  }
  20%
  {
    transform: scale( 0.85 );
    opacity: 0.4;
  }
  40%
  {
    transform: scale( 1 );
    opacity: 0.6;
  }
  60%
  {
    transform: scale( 0.85 );
    opacity: 0.8;

  }
  80%
  {
    transform: scale( 1 );
    opacity: 1;
  }
  100%
  {
    transform: scale( 1 );
    opacity: 1;
  }
}

// end of heart