.btn {
    background:linear-gradient(175deg, $secondary-color, $primary-color);
    color: white;
    border-radius: 25px;
    line-height: 50px;
    width: 210px;
    display: flex;
    align-self: center;
    justify-content: center;
}