.btn {
    @include buttons
    position: relative;
    z-index: 1;
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
        opacity: 0.15;
        z-index: -1;
        background: radial-gradient(circle, lighten($secondary-color, 5) 0%, lighten($primary-color, 10) 100%);
        filter: drop-shadow(14px 18px 17px #c9c9c9);
        transition: opacity 300ms;
        border-radius: 25px;
    }
}
