/*spinner loading*/

#spinner_loader {
  width: 100%;
  height: 100%;
  background-color: $light-grey;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: hidden 4s ease-in-out forwards;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .fa-utensils {
    position: absolute;
    top: -80px;
    animation: bubble 2.4s $courbe infinite;
    font-size: 1.6rem;
  }
  .fa-ice-cream {
    position: absolute;
    left: 20px;
    bottom: 210px;
    animation: bubble 2.2s $courbe infinite;
    font-size: 2.8rem;
  }
  .fa-cheese {
    position: absolute;
    top: 150px;
    left: -30px;
    animation: bubble 1.8s $courbe infinite;
    font-size: 1.4rem;
  }
  .fa-bacon {
    position: absolute;
    top: 40px;
    left: -70px;
    animation: bubble 1.7s $courbe infinite;
    font-size: 1.7rem;
  }
  .fa-cocktail {
    position: absolute;
    bottom: -15px;
    right: 30px;
    animation: bubble 2.4s $courbe infinite;
    font-size: 1.4rem;
  }
  img {
    height: 150px;
    width: 280px;
    padding: 4px;
    animation: pulseBorder 2s $courbe infinite;
  }
  .fa-coffee {
    position: absolute;
    right: -40px;
    animation: bubble 1.7s $courbe infinite;
    font-size: 1.4rem;
  }
  .fa-wine-bottle {
    position: absolute;
    top: -50px;
    right: -30px;
    animation: bubble 1.9s $courbe infinite;
    font-size: 1.9rem;
  }
  .fa-glass-cheers {
    position: absolute;
    top: 160px;
    left: 40px;
    animation: bubble 2.1s $courbe infinite;
    font-size: 2.2rem;
  }
  .fa-hamburger {
    position: absolute;
    top: 40px;
    right: -90px;
    animation: bubble 1.7s $courbe infinite;
    font-size: 2.4rem;
  }
}

/*spinner loading*/
