footer nav {
    background-color:$footer-grey;
    display: flex;
    flex-direction: column;
    padding: 20px;
        h3 {
            color: white;
            font-family: 'Shrikhand';
            font-size: 0.9em;
        }
        ul {
            li {
                a {
                    color: white;
                }
                i {
                    color: white;
                    font-size: 0.8em;
                    margin-right: 10px;
                    width: 10px;
                }
            }
        }
}