footer nav {
    background-color:$dark-grey;
    display: flex;
    flex-direction: column;
    padding: 20px;
        h3 {
            color: $white;
            font-family: 'Shrikhand';
            font-weight: 500;
            padding-bottom: 15px;
                @media only screen and (min-width: 768px){
                    padding-bottom: 90px;
                    font-size: 3em;
                    text-align: center;
                }
        }
                ul {
                        @media only screen and (min-width: 768px) {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            height: 109px;
                            justify-content: center;
                        }
                    li {
                        padding-bottom: 8px;
                            @media only screen and (min-width: 768px) {
                                margin-right: 45px;  
                                font-size: 1.3em;
                            }
                        a {
                            color: $white;
                        }
                        i {
                            color: $white;
                            font-size: 0.8em;
                            margin-right: 10px;
                            width: 10px;
                        }
                    }
                }
}
